html {
   font-size: 1em !important;
   color: #000 !important;
   font-family: 'Roboto' !important;
   /* -webkit-user-select: none; */
}

body {
    min-width: 480px;
    max-width: 1280px;
    margin: auto;
    padding: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}