.tags-filter-list {
    padding: 20px;
    border-top: #999 solid 1px;
    display: flex;
}

.tags-filter-list-clear {
    cursor: pointer;
    -webkit-user-select: none;
    text-decoration: underline;
}