/* .panel-tabs {
    
} */

.btn-group {
    margin: 0;
}

.filter-btn {
    width: calc(100% / 3);
    height: 2rem;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-align: center;
    padding-top: 14px;
}

.active {
    font-size: 1rem;
    font-weight: 600;
}

/* .filter-btn :focus {
    background-color: red;
} */